.about {
  margin-top: 122px;
  padding: 0 20px;

  @media (max-width: $vp-1200) {
    padding: 0 45px;
    margin-top: 62px;
  }

  @media (max-width: $vp-768) {
    padding: 0;
    margin-top: 39px;
  }
}

.about__wrapper {
  max-width: 1160px;
  min-height: 516px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content 1fr;

  @media (max-width: $vp-1200) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content minmax(476px, 1fr);
  }

  @media (max-width: $vp-768) {
    grid-template-rows: min-content min-content minmax(187px, 1fr);
  }
}

.about__text {
  margin-left: 60px;
  min-width: 355px;

  @media (max-width: $vp-1200) {
    margin-left: 0;
  }

  @media (max-width: $vp-768) {
    min-width: 100%;
  }
}

.about__text h2 {
  font-family: $bebas700;
  margin-bottom: 0;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: left;

  @media (max-width: $vp-1200) {
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;
  }

  @media (max-width: $vp-768) {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
    padding: 0 15px;
    text-align: left;
  }
}

.about__text span {
  display: block;
  font-family: $roboto400;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;

  @media (max-width: $vp-1200) {
    text-align: center;
  }

  @media (max-width: $vp-768) {
    text-align: left;
    padding: 0 15px;
  }
}

.about__text p {
  font-family: $roboto300;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;

  @media (max-width: $vp-1200) {
    text-align: center;
    margin: 34px auto 0;
    max-width: 85%;
  }

  @media (max-width: $vp-768) {
    text-align: left;
    max-width: 81%;
    margin: 23px 0;
    margin-right: auto;
    padding: 0 15px;
  }
}

.about__text .about__text-desktop {
  margin-top: 10px;

  @media (max-width: $vp-1200) {
    display: none;
  }
}

.about__iamge-container {
  grid-column: 2/3;
  grid-row: 1/2;

  @media (max-width: $vp-1200) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 44px;
  }

  @media (max-width: $vp-768) {
    margin-top: 10px;
    grid-column: auto;
    grid-row: auto;
  }
}

.about__iamge-container img {
  display: block;
  margin-left: auto;
  width: 88.5%;
  height: auto;

  @media (max-width: $vp-1200) {
    width: 100%;
    max-height: 345px;
    object-fit: cover;
  }

  @media (max-width: $vp-768) {
    max-height: 100%;
    min-height: 313px;
  }
}

.about__video {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
  margin-left: 25px;

  @media (max-width: $vp-1200) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 auto;
    width: 39.1%;
  }

  @media (max-width: $vp-768) {
    align-self: flex-start;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    grid-column: auto;
    grid-row: auto;
  }
}

.about__video img {
  @media (max-width: $vp-1200) {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (min-width: 320px) and (max-width: 340px){
    height: 167px;
    display: block;
  }

  @media (min-width: 341px) and (max-width: $vp-768) {
    height: auto;
  }
}
