.accordion {
  max-width: 672px;
  margin: 0 auto;
  margin-top: 55px;
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  display: grid;

  @media (max-width: $vp-1200) {
    max-width: 100%;
    margin-top: 45px;
  }

  @media (max-width: $vp-768) {
    max-width: 100%;
  }
}

.accordion__wrapper {
  width: 83.5%;
  overflow-x: hidden;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);
  grid-row: 1/-1;
  grid-column: 1/-1;
  transition: $allease;

  @media (max-width: $vp-768) {
    width: 79%;
    min-height: 100%;
    overflow-y: auto;
  }
}

.accordion__wrapper--no-js {
  box-shadow: none;
  padding: 50px;
}

.accordion__controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-self: center;
}

.accordion__back {
  @media (max-width: $vp-768) {
    margin-left: -6px;
  }
}

.accordion__controls--no-js {
  display: none;
}

.accordion__list {
  margin: 0;
  padding: 0;
  width: max-content;
  list-style: none;
  display: flex;
  left: 0;
  top: 0;
  transition: $allease;

  @media (max-width: $vp-1200) {
    width: 214%;
  }

  @media (max-width: $vp-768) {
    width: 225%;
  }
}

.accordion__list--no-js {
  flex-wrap: wrap;
  position: static;
  width: 100%;
}

.accordion__list .accordion__item--display-none {
  display: none;
}

.accordion__list--no-js .accordion__item {
  display: flex;
  margin-right: 0;
  margin-bottom: 20px;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
}

.accordion__list li {
  align-self: flex-start;
  margin: 0;
  margin-right: 40px;
  padding: 62px;
  padding-bottom: 58px;
  box-sizing: border-box;
  width: 560px;
  background-color: #1c3374;
  display: flex;
  position: relative;
  transition: $allease;

  @media (max-width: $vp-1200) {
    width: 50%;
    min-height: 243px;
    padding-bottom: 57px;
    padding-right: 71px;
  }

  @media (max-width: $vp-768) {
    padding: 40px 25px 35px;
    align-items: center;
    width: 45%;
    height: 100%;
    overflow: visible;
    margin-right: 32px;
    flex-direction: column;
  }
}

.accordion__image-container {
  margin-right: 28px;

  @media (max-width: $vp-768) {
    margin-right: 0;
    display: flex;
    align-items: center;
  }
}

.accordion__image-container img {
  @media (max-width: $vp-768) {
    width: 68px;
    height: 68px;
    margin-left: 16px;
    margin-right: 14px;
  }
}

.accordion__list h3 {
  font-family: $roboto700;
  font-size: 20px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 170px;
  margin-top: 59px;

  @media (max-width: $vp-768) {
    position: static;
    line-height: 26px;
    margin: 0;
  }
}

.accordion__list p {
  font-family: $roboto400;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 35px;

  @media (max-width: $vp-768) {
    text-align: center;
    margin-top: 12px;
  }
}
