.additional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 58px;
  align-items: flex-start;

  @media (max-width: $vp-1200) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 37px;
  }

  @media (max-width: $vp-768) {
    margin-top: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
}
