.address {
  padding: 64px 0;
  padding-bottom: 20px;
  border-top: 1px solid #74819c;
  min-height: 200px;

  @media (max-width: $vp-1200) {
    border: none;
    padding: 45px;
    padding-top: 64px;
    padding-bottom: 36px;
  }

  @media (max-width: $vp-768) {
    padding: 66px 15px 41px;
  }
}

.address__wrapper {
  @media (min-width: 1200px) and (max-width: 1365px) {
    width: 95%;
  }

  @media (max-width: $vp-1200) {
    margin: 0 auto;
    width: 74%;
  }

  @media (max-width: $vp-768) {
    width: 100%;
  }
}

.address h2 {
  font-family: $bebas700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #102654;
  margin: 0;
  margin-left: 120px;

  @media (max-width: $vp-1200) {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 0;
  }

  @media (max-width: $vp-768) {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.address address {
  margin-left: 120px;
  width: 82%;
  max-width: 567px;
  display: flex;
  position: relative;

  @media (max-width: 1365px) {
    width: 80%;
  }

  @media (max-width: $vp-1200) {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }

  @media (max-width: $vp-768) {
    flex-direction: column;
  }
}

.address__list {
  margin: 0;
  margin-top: 46px;
  margin-right: 110px;
  padding: 0;
  list-style: none;
  height: min-content;

  &::after {
    content: "";
    position: absolute;
    height: 56%;
    width: 1px;
    background-color: #74819c;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 41.7%;
    margin-top: 52px;

    @media (max-width: $vp-1200) {
      margin-right: 0;
      margin-left: 53%;
      margin-top: 46px;
      height: 62%;
    }

    @media (max-width: $vp-768) {
      display: none;
    }
  }

  @media (max-width: $vp-1200) {
    margin-top: 39px;
    margin-right: 94px;
    column-gap: 94px;
  }

  @media (max-width: $vp-768) {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    margin-right: 0;
  }
}

.address .address__list-contacts {
  margin-right: 0;

  &::after {
    display: none
  }

  @media (max-width: $vp-768) {
    margin-top: 0;
  }
}

.address__list li {
  width: 180px;
  display: block;
  margin-bottom: 20px;


  @media (max-width: $vp-1200) {
    width: 220px;
    margin-bottom: 24px;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 22px;
    &:nth-child(2n) {
      grid-row: auto;
    }
  }
}

.address__list p {
  font-family: $roboto700;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #102654;
  font-style: normal;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 2px;

  @media (max-width: $vp-1200) {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-left: 0;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 3px;
  }
}

.address__list a {
  display: block;
  font-family: $roboto400;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #102654;
  font-style: normal;
  text-decoration: none;
  margin-left: 2px;
  transition: $allease;
  user-select: none;
  width: fit-content;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }

  @media (max-width: $vp-1200) {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-left: 0;
    margin-top: 4px;
  }
}

.address__list span {
  display: block;
  font-family: $roboto400;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #102654;
  font-style: normal;
  margin-left: 2px;

  @media (max-width: $vp-1200) {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
  }
}
