.advantages {
  padding: 0 20px;
  padding-top: 112px;
  padding-bottom: 92px;
  background-color: #f8f9fc;

  @media (max-width: $vp-1200) {
    padding: 96px 45px;
    padding-bottom: 56px;
  }

  @media (max-width: $vp-768) {
    padding: 67px 0;
    padding-bottom: 63px;
  }
}

.advantages h2 {
  font-family: $bebas400;
  margin: 0;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: $vp-1200) {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  @media (max-width: $vp-768) {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
  }
}

.advantages ul {
  max-width: 1040px;
  padding: 0;
  margin: 0 auto;
  margin-top: 45px;
  padding-left: 49px;
  list-style: none;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: auto auto auto;
  row-gap: 107px;
  column-gap: 0;

  @media (max-width: $vp-1200) {
    padding-left: 0;
    grid-template-columns: 1fr 1fr;
    margin: 32px auto 0;
    row-gap: 0;
    column-gap: 34px;
    justify-items: center;
  }

  @media (max-width: $vp-768) {
    grid-template-columns: 1fr;
    gap: 23px;
  }
}

.advantages__item {
  display: flex;
  max-width: 329px;
  min-height: 128px;
  align-items: flex-start;
  position: relative;

  @media (max-width: $vp-768) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}

.advantages__item--border-top {
  &::after {
    content: "";
    height: 2px;
    width: 340px;
    top: 0;
    left: 0;
    margin-top: -55px;
    background-color: rgba(209, 10, 66, 0.2);
    position: absolute;

    @media (max-width: $vp-1200) {
      display: none;
    }
  }
}

.advantages__item--border-top-to-left {
  &::after {
    margin-left: -25px;
  }
}

.advantages__item div {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: $vp-768) {
    position: relative;
    width: 100%;
  }
}

.advantages__item dl {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: $vp-768) {
    position: relative;
    width: 100%;
  }
}

.advantages__item dt {
  margin: 0;
  display: inline;
  align-self: flex-start;
  margin-right: 30px;
  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
  color: transparent;
  font-family: $roboto700;
  font-size: 71px;
  font-weight: 700;
  line-height: 107px;
  text-align: left;

  @media (max-width: $vp-1200) {
    font-size: 58px;
    font-weight: 700;
    line-height: 87px;
    text-align: center;
  }

  @media (max-width: $vp-768) {
    margin-right: auto;
    margin-left: auto;
  }
}

.advantages__item dd {
  font-family: $roboto400;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  margin-bottom: 21px;

  @media (max-width: $vp-1200) {
    margin-bottom: 39px;
  }

  @media (max-width: $vp-768) {
    margin: 0 auto;
    margin-bottom: -2px;
    margin-top: -7px;
    text-align: center;
    width: 100%;
  }
}


.advantages__item h4 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: $roboto700;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;

  @media (max-width: $vp-1200) {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 2px;
  }

  @media (max-width: $vp-768) {
    text-align: center;
    margin-top: 8px;
  }
}

.advantages__item--fourth p {
  margin-right: 25px;
}

.advantages__item--fifth p {
  margin-right: 32px;
}

.advantages__item .advantages__text {
  margin: 0;
  font-family: $roboto300;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #102654;
  background: none;

  @media (max-width: $vp-768) {
    text-align: center;
    margin: 0 auto;
    max-width: 71%;
  }
}

.advantages .advantages__item--third {
  grid-column: 2/3;
  grid-row: 1/ span 2;
  justify-self: start;
  align-self: center;
  align-items: center;
  max-width: 240px;
  min-height: 307px;
  padding: 55px 34px;
  margin-right: 20px;
  margin-left: 10px;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #1c3374;

  @media (max-width: $vp-1200) {
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 28px;
    grid-column: 1/-1;
    grid-row: auto;
    min-height: 239px;
    max-width: 100%;
    width: 65.3%;
    padding: 31px 34px;
  }

  @media (max-width: $vp-768) {
    align-self: start;
    margin: 20px auto 3px;
    padding-top: 38px;
    grid-column: auto;
    width: 100%;
  }
}

.advantages .advantages__item--center {
  grid-column: 2/3;
  grid-row: span 2;
}


.advantages__item--third dl {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.advantages__item--third dt {
  font-family: $roboto700;
  font-size: 74px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  width: 100%;

  @media (max-width: $vp-1200) {
    margin: 0;
    font-size: 74px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
  }
}

.advantages__item--third dd {
  font-family: $roboto700;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
  position: static;
  margin-bottom: 0;

  @media (max-width: $vp-1200) {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    margin-bottom: 0;
  }
}

.advantages__item--third p {
  font-family: $roboto400;
  margin: 0;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ffffff;

  @media (max-width: $vp-1200) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 16px auto 0;
    max-width: 180px;
  }

  @media (max-width: $vp-768) {
    @media (max-width: $vp-768) {
      margin-top: 10px;
    }
  }
}
