.article {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 121px;
  position: relative;
  display: flex;
  align-items: flex-start;

  &::after {
    content: "";
    width: 660px;
    min-height: 500px;
    position: static;
    right: 0;
    top: 0;
    align-self: flex-start;

    @media (min-width: 320px) {
      width: 100%;
      min-height: 292px;
      background-image: url("../img/article-bg-mobile.webp");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/article-bg-mobile@2x.webp");
      }
    }

    @media (min-width: 768px) {
      background-image: url("../img/article-bg-tablet.webp");
      min-height: 292px;
      width: 100%;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/article-bg-tablet@2x.webp");
      }
    }

    @media (min-width: 1200px) {
      background-image: url("../img/article-bg-desktop.webp");
      width: 660px;
      height: 500px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/article-bg-desktop@2x.webp");
      }
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: $vp-1200) {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 0 45px;
    margin-top: 100px;
  }

  @media (max-width: $vp-768) {
    padding: 0 15px;
    margin-top: 68px;
    grid-template-columns: 1fr;
  }
}


.article__container {
  width: 500px;
  min-height: 500px;
  padding: 78px 71px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #ed0233;
  color: #ffffff;

  @media (max-width: $vp-1200) {
    padding: 45px 40px;
    width: 292px;
    min-height: 292px;
  }

  @media (max-width: $vp-768) {
    width: 100%;
  }
}

.article__container .article__title {
  display: inline;
  width: 201px;
  font-family: $bebas700;
  margin: 0;
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: $vp-1200) {
    width: 117px;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0.03em;
  }
}

.article__title span {
  margin-left: 7px;
}

.article__container ul {
  margin: 0;
  padding: 0;
  min-width: 100px;
  list-style: none;
  margin-left: auto;

  @media (max-width: $vp-1200) {
    min-width: 55px;
  }
}

.article__container p {
  font-family: $roboto400;
  margin: 0;
  margin-left: 6px;
  margin-top: -8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;

  @media (max-width: $vp-1200) {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    width: 100%;
  }
}

.article__container a {
  font-family: $roboto700;
  display: block;
  box-sizing: border-box;
  padding: 24px 112px;
  margin-top: 22px;
  margin-left: 5px;
  border: 4px solid #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: center;
  align-self: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  transition: $allease;

  &:hover {
    border: 4px solid #102654;
    color: #102654;
  }

  @media (max-width: $vp-1200) {
    padding: 11px 50px;
    min-width: 202px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-align: left;
  }
}

.article__item {
  margin-bottom: 17px;
  position: relative;

  &:first-child::after {
    width: 64%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 54px;
    height: 1px;
    width: 88%;
    background-color: #ffffff;

    @media (max-width: $vp-1200) {
      margin-bottom: 33px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $vp-1200) {
    margin-bottom: -2px;
  }
}

.article__item p {
  margin: 0;
  display: flex;

  @media (max-width: $vp-1200) {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
  }
}

.article__item dl {
  margin: 0;
  margin-top: 9px;
  display: flex;
  flex-direction: column;


  @media (max-width: $vp-1200) {
    margin-top: 1px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
  }
}

.article__item dd {
  margin: 0;
  font-family: $roboto700;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  margin-right: 7px;
  display: flex;

  @media (max-width: $vp-1200) {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
  }
}

.article__item span {
  font-family: $roboto700;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  margin-right: 7px;

  @media (max-width: $vp-1200) {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
  }
}

.article__item .article__mounth {
  font-family: $roboto400;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  align-self: center;

  @media (max-width: $vp-1200) {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
  }
}
