.comments {
  padding: 20px;

  @media (max-width: $vp-1200) {
    padding: 20px 45px;
  }

  @media (max-width: $vp-768) {
    padding: 20px 15px;
  }
}

.comments h2 {
  margin: 0;
  font-family: $bebas700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: $vp-1200) {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;
  }

  @media (max-width: $vp-768) {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
  }
}
