.feedback {
  padding: 59px 0;
  box-sizing: border-box;
  background-color: #102654;
  min-height: 223px;
  padding-bottom: 55px;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $vp-1200) {
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 55px;
  }

  @media (max-width: $vp-768) {
    width: 100%;
    padding-bottom: 56px;
  }
}

.feedback form {
  margin-right: 170px;
  max-width: 410px;
  min-height: 224px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-1200) {
    max-width: 65%;
    min-height: 205px;
    margin-right: 0;
    justify-content: space-between;
  }

  @media (max-width: $vp-768) {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
  }
}

.feedback h2 {
  font-family: $bebas700;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;

  @media (max-width: $vp-1200) {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;
    width: 100%;
  }

  @media (max-width: $vp-768) {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.feedback label {
  align-self: flex-start;

  @media (max-width: $vp-1200) {
    width: 47%;
    margin-top: 26px;
  }

  @media (max-width: $vp-768) {
    width: 100%;
    margin-top: 43px;

    &:nth-child(3n) {
      margin-top: 33px;
      margin-bottom: 39px;
    }
  }
}

.feedback input {
  background-color: transparent;
  border: none;
  width: 190px;
  box-sizing: border-box;
  border-bottom: 1px solid #74819c;
  padding: 4px 0;
  margin-top: 20px;
  margin-right: 30px;
  font-family: $roboto400;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #87ceeb;

  &::placeholder {
    font-family: $roboto400;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #ffffff;
  }

  &:hover {
    color: #87ceeb;

    &::placeholder {
      color: #87ceeb;
    }
  }

  &:focus {
    color: #87ceeb;

    &::placeholder {
      color: #87ceeb;
    }
  }

  @media (max-width: $vp-1200) {
    margin: 0;
    width: 88%;
  }

  @media (max-width: $vp-768) {
    width: 100%;
  }
}

.feedback input[type="tel"] {
  margin-right: 0;
}

.feedback button {
  padding: 17px 164px;
  font-family: $roboto700;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  align-self: flex-start;
  background-color: transparent;
  border-radius: 0;
  border: 3px solid #ffffff;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 13px;
  cursor: pointer;
  transition: $allease;
  user-select: none;

  &:hover {
    color: #9ed7ee;
    border: 3px solid #9ed7ee;
  }

  &:focus {
    color: #9ed7ee;
    border: 3px solid #9ed7ee;
    outline: none;
  }

  @media (max-width: $vp-1200) {
    width: 95%;
    padding: 17px 20px;
  }

  @media (max-width: $vp-768) {
    width: 100%;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
