.footer {
  padding: 44px 20px;
  padding-bottom: 36px;
  box-sizing: border-box;
  background-color: #030a1a;

  @media (max-width: $vp-1200) {
    padding: 48px 45px;
    padding-bottom: 38px;
  }

  @media (max-width: $vp-768) {
    padding: 45px 15px;
    padding-top: 49px;
  }
}

.footer__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;

  @media (max-width: $vp-768) {
    flex-direction: column;
  }
}
