.logo img {
  @media (max-width: $vp-1200) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $vp-768) {
    width: 68px;
    height: 15px;
  }
}

.logo--footer img {
  margin-right: 36px;

  @media (max-width: $vp-1200) {
    width: 82px;
    height: 18px;
  }
}
