.nav {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  position: static;
  z-index: 2;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav a {
  font-family: $bebas700;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  transition: $allease;

  &:hover {
    text-shadow: 5px 5px 5px #333333;
  }

  &:focus {
    text-shadow: 5px 5px 5px #333333;
  }

  @media (max-width: $vp-1200) {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  @media (max-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

.nav--footer ul {
  justify-content: flex-start;
  max-width: 794px;
  box-sizing: border-box;
  margin-bottom: -20px;

  @media (max-width: $vp-1200) {
    max-width: 535px;
  }

  @media (max-width: $vp-768) {
    max-width: 100%;
    margin: 0;
    display: block;
    column-count: 2;
    gap: 10%;
  }
}

.nav--footer li {
  margin-right: 36px;
  margin-bottom: 10px;

  &:first-child {
    margin-right: auto;

    @media (max-width: $vp-768) {
      margin-bottom: 18px;
      margin-right: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $vp-1200) {
    margin-right: 28px;
  }

  @media (max-width: $vp-768) {
    display: block;
    margin-bottom: 18px;
  }
}

.nav--footer a {
  font-family: $roboto400;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  user-select: none;

  &:hover {
    color: #87ceeb;
  }

  @media (max-width: $vp-1200) {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
  }

  @media (max-width: $vp-768) {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
}
