.offers {
  background-color: #f8f9fc;
  margin-top: 118px;
  padding: 114px 20px;
  padding-bottom: 79px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    margin-bottom: -96px;

    @media (min-width: 768px) {
      width: 309px;
      height: 443px;
      margin-bottom: -124px;
      background-image: url("../img/offers-bg-tablet.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/offers-bg-tablet@2x.png");
      }
    }

    @media (min-width: 1200px) {
      width: 286px;
      height: 384px;
      margin-bottom: -96px;
      background-image: url("../img/offers-bg-desktop.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/offers-bg-desktop@2x.png");
      }
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }

  @media (max-width: $vp-1200) {
    margin-top: 96px;
    padding: 96px 45px 100px;
  }

  @media (max-width: $vp-768) {
    padding: 66px 15px 74px;
    margin-top: 83px;
  }
}


.offers h2 {
  font-family: $bebas700;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;

  @media (max-width: $vp-1200) {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  @media (max-width: $vp-768) {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
