.preview {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
  margin-left: 25px;
  display: grid;
  width: 364px;
  min-height: 228px;
  align-items: center;
  justify-items: center;

  @media (max-width: $vp-1200) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 auto;
    width: 39.1%;
  }

  @media (max-width: $vp-768) {
    align-self: flex-start;
    margin-top: 27px;
    width: 100%;
    height: 100%;
    grid-column: auto;
    grid-row: auto;
  }
}

.preview .preview__image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 1/-1;
  grid-column: 1/-1;

  @media (min-width: 320px) and (max-width: 340px) {
    height: 167px;
    display: block;
  }

  @media (min-width: 341px) and (max-width: $vp-768) {
    height: auto;
  }
}

.preview .preview__image-container--no-js {
  display: none;
}

.preview__image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;

  @media (min-width: 320px) and (max-width: 340px) {
    height: 167px;
    display: block;
  }

  @media (min-width: 341px) and (max-width: $vp-768) {
    height: auto;
  }
}

.preview__video {
  width: 100%;
  height: 100%;
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 1;
  display: none;
}

.preview__video--no-js {
  display: block;
}

.preview__video--visible {
  display: block;
}

.preview__play {
  padding: 0;
  margin-left: -6px;
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
  background-image: url("../img/svg/border-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
    border-radius: 50%;
    width: 72px;
    height: 72px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    @media (max-width: $vp-1200) {
      width: 52px;
      height: 52px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 17px;
    height: 17px;
    z-index: 1;

    @media (max-width: $vp-1200) {
      width: 12px;
      height: 12px;
      background-size: 75%;
    }
  }

  @media (max-width: $vp-1200) {
    width: 73px;
    height: 73px;
    margin-left: -3px;
    margin-top: -6px;
  }
}

.preview__play--no-js {
  display: none;
}

.preview__play--none-display {
  display: none;
}
