.slider {
  padding: 0 20px;
  margin: 35px auto 0;
  position: relative;

  @media (max-width: 1300px) {
    width: 90%;
  }

  @media (max-width: $vp-1200) {
    margin-top: 25px;
    width: 94%;
  }

  @media (max-width: $vp-768) {
    padding: 0;
    width: 100%;
  }
}

.slider__controls {
  position: absolute;
  width: calc(100% - 4px);
  max-width: 1272px;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  margin: 151px auto 0;
  padding: 0 2px;

  @media (max-width: $vp-1200) {
    margin-top: 22.2%;
  }

  @media (max-width: $vp-768) {
    padding: 0;
    width: 100%;
    margin-top: 51%;
  }
}

.slider__controls--no-js {
  display: none;
}

.slider__controls .slider__back {
  @media (max-width: $vp-768) {
    margin-left: -6px;
  }
}

.slider__slides {
  width: calc(100% - 40px);
  padding: 20px;
  max-width: 1160px;
  min-height: 297px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;

  @media (max-width: $vp-1200) {
    width: 89%;
    min-height: min-content;
    padding: 26.9% 20px;
  }

  @media (max-width: $vp-768) {
    width: 78%;
    min-height: min-content;
    padding: 50.9% 20px;
  }
}

.slider__slides--no-js {
  height: min-content;
  min-height: min-content;
  padding: 0;
}

.slider__slides ul {
  margin: 0;
  width: 200%;
  margin-left: 1.7%;
  margin-top: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transition: $allease;

  @media (max-width: $vp-1200) {
    margin-left: 3.5%;
    width: 146.3%;
    left: -98.4%;
  }

  @media (max-width: $vp-768) {
    margin-left: 9.5%;
    left: -195.4%;
  }
}

.slider__slides .slider__item {
  display: grid;
  width: 10.8%;
  height: auto;
  max-height: 295px;
  margin-right: 40px;
  transition: $allease;

  &:hover {
    box-shadow: 0 0 35px rgba(42, 59, 99, 0.17);
  }

  &:hover .slider__card-container {
    background: rgba(16, 38, 84, 0.89);
  }

  &:focus {
    outline: none;
  }

  &:focus .slider__card-container {
    background: rgba(16, 38, 84, 0.89);
    padding-bottom: 0;
  }

  &:hover h3 {
    margin-top: 0;
  }

  &:focus h3 {
    margin-top: 0;
  }

  &:hover span {
    display: block;
  }

  &:focus span {
    display: block;
  }

  &:hover .slider__list-awards {
    display: flex;
  }

  &:focus .slider__list-awards {
    display: flex;
  }

  @media (max-width: 1300px) {
    max-height: 261px;
  }

  @media (max-width: $vp-1200) {
    min-width: 30.2%;
    margin-right: 3.4%;
  }

  @media (max-width: $vp-768) {
    min-width: 58%;
    margin-right: 8.1%;
    height: min-content;
  }
}

.slider__slides .slider__list--no-js {
  flex-wrap: wrap;
  position: static;
}

.slider__list--no-js .slider__item {
  margin-bottom: 20px;
  margin-right: 37px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.slider__image-container {
  height: auto;
  grid-row: 1/-1;
  grid-column: 1/-1;

  @media (max-width: $vp-1200) {
    height: 294px;
    overflow: hidden;
  }

  @media (min-width: 770px) and (max-width: $vp-1200) {
    height: auto;
    overflow: visible;
  }

  @media (max-width: $vp-768) {
    height: min-content;
  }
}


.slider__image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (max-width: $vp-1200) {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (max-width: $vp-768) {
    min-height: 274px;
  }
}

.slider__card-container {
  display: flex;
  flex-direction: column;
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  padding: 52px 10px;
  align-items: center;
  padding-bottom: 22px;
  box-sizing: border-box;
  color: #ffffff;
  background: transparent;
  overflow: auto;
  transition: background-color 500ms ease;
  overflow-y: auto;

  @media (max-width: $vp-768) {
    padding: 43px 19px 22px;
  }
}

.slider__card-container h3 {
  font-family: $roboto700;
  margin: 0;
  margin-top: auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

.slider__card-container span {
  font-family: $roboto400;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #b6bdcc;
  display: none;
  margin-top: -4px;
}

.slider__card-container .slider__list-awards {
  display: none;
  flex-direction: column;
  list-style: outside;
  margin-top: 32px;
  margin-left: 31px;
  max-width: 147px;
  font-family: $roboto400;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  position: static;
}

.slider__list-awards li {
  margin-bottom: 13px;
}
