.slider {
  padding: 0 20px;
  margin: 35px auto 0;
  position: relative;

  @media (max-width: $vp-1200) {
    margin-top: 25px;
    width: 638px;
  }

  @media (max-width: $vp-768) {
    padding: 0;
    width: 290px;
  }
}

.slider__controls {
  position: absolute;
  width: calc(100% - 4px);
  max-width: 1272px;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 2px;
  margin-top: 150px;

  @media (max-width: $vp-768) {
    padding: 0;
    width: 100%;
  }
}

.slider__controls .slider__back {
  @media (max-width: $vp-768) {
    margin-left: -6px;
  }
}

.slider__slides {
  width: 100%;
  padding: 20px 0;
  max-width: 1160px;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: $vp-1200) {
    width: 568px;
  }

  @media (max-width: $vp-768) {
    width: 226px;
  }
}

.slider__slides ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.slider__slides .slider__item {
  display: grid;
  width: 22.4%;
  height: 294px;
  margin-right: 40px;
  transition: $allease;

  &:hover {
    box-shadow: 0 0 35px rgba(42, 59, 99, 0.17);
  }

  &:hover .slider__card-container {
    background: rgba(16, 38, 84, 0.89);
  }

  &:focus {
    outline: none;
  }

  &:focus .slider__card-container {
    background: rgba(16, 38, 84, 0.89);
  }

  &:hover h3 {
    margin-top: 0;
  }

  &:focus h3 {
    margin-top: 0;
  }

  &:hover span {
    display: block;
  }

  &:focus span {
    display: block;
  }

  &:hover .slider__list-awards {
    display: flex;
  }

  &:focus .slider__list-awards {
    display: flex;
  }

  @media (max-width: $vp-1200) {
    min-width: 268px;
    margin-right: 31px;
  }

  @media (max-width: $vp-768) {
    min-width: 226px;
    height: 274px;
  }
}

.slider__image-container {
  height: 294px;
  grid-row: 1/-1;
  grid-column: 1/-1;

  @media (max-width: $vp-768) {
    height: 274px;
  }
}

.slider__image-container img {
  display: block;
  width: 260px;
  height: auto;

  @media (max-width: $vp-1200) {
    width: 268px;
    height: 294px;
  }

  @media (max-width: $vp-768) {
    width: 226px;
    height: 274px;
    object-fit: cover;
  }
}

.slider__card-container {
  display: flex;
  flex-direction: column;
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  padding: 52px 40px;
  padding-bottom: 22px;
  box-sizing: border-box;
  color: #ffffff;
  background: transparent;
  overflow: auto;
  transition: $allease;

  @media (max-width: $vp-768) {
    padding: 43px 19px 22px;
  }
}

.slider__card-container h3 {
  font-family: $roboto700;
  margin: 0;
  margin-top: auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

.slider__card-container span {
  font-family: $roboto400;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #b6bdcc;
  display: none;
  margin-top: -4px;
}

.slider__card-container .slider__list-awards {
  display: none;
  flex-direction: column;
  list-style: outside;
  margin-top: 32px;
  margin-left: 31px;
  max-width: 147px;
  font-family: $roboto400;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.slider__list-awards li {
  margin-bottom: 13px;
}
