.socials {
  margin: 0;
  padding: 23px 0;
  margin-bottom: 49px;
  list-style: none;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.socials li {
  margin-bottom: 15px;
}

.socials a {
  font-family: $roboto400;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  transition: $allease;

  &:hover {
    text-shadow:5px 5px 5px #333333;
  }

  &:focus {
    text-shadow:5px 5px 5px #333333;
    outline: none;
  }
}

.socials--footer {
  flex-direction: row;
  margin: 0;
  padding: 0;
  min-width: 110px;
}

.socials--footer li {
  margin-right: 25px;
  margin-bottom: 0;

  &:last-child {
    margin-right: 0;
  }
}
