.tabs {
  max-width: 1160px;
  margin: 0 auto;
}

.tabs__controls ul {
  margin: 0 auto;
  margin-top: 40px;
  width: max-content;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    content: "";
    height: 2px;
    width: 96%;
    background-color: rgba(120, 120, 120, 0.2);
    position: absolute;
    bottom: 0;
    margin-bottom: -10px;
  }
}

.tabs__controls li {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.tabs__controls button {
  font-family: $roboto400;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  background-color: transparent;
  border: none;
  color: #102654;
  opacity: 0.5;
  cursor: pointer;
}

.tabs__controls .tabs__button--active {
  opacity: 1;
  position: relative;
  transition: $allease;

  &:after {
    content: "";
    height: 2px;
    width: 84%;
    background-color: #d10a42;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -10px;
    margin-left: 4px;
    z-index: 2;
  }
}

.tabs__content {
  margin-top: 48px;
}

.tabs__content ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.tabs__content .tabs__content-item {
  width: 360px;
  min-height: 448px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 63px 77px;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover {
    border: 7px solid;
    padding: 56px 70px;
    border-image: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
    border-image-slice: 1;

    a {
      background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
      border: none;
      color: #ffffff;
      padding: 25px 42px;
    }
  }
}

.tabs__content h3 {
  font-family: $roboto700;
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
}

.tabs__content span {
  font-family: $roboto400;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  text-align: center;
}

.tabs__content p {
  font-family: $roboto700;
  margin: 0;
  margin-top: 65px;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  color: #103aae;
  position: relative;
  z-index: 1;

  &::after {
    content: attr(data-parrent);
    position: absolute;
    z-index: -1;
    font-size: 100px;
    font-weight: 700;
    line-height: 150px;
    text-align: left;
    color: transparent;
    text-shadow: 0 0 0 rgba(232, 232, 232, 0.48);
    top: 0;
    left: 0;
    margin-top: -55px;
  }
}

.tabs__content .tabs__ruble {
  font-family: $roboto700;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  text-align: left;
  display: inline;
  color: #102654;
  text-shadow: none;
}

.tabs__content a {
  font-family: $roboto700;
  display: block;
  padding: 23px 42px;
  margin-top: 35px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #102654;
  border: 2px solid #102654;

  &:hover {
    background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
    border: none;
    color: #ffffff;
    padding: 24px 42px;
  }
}
